/* Box Sizing */
html {
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
body{
    padding: 0;
    margin: 0;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Lucida Sans';
}
#encabezado{
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    background-color: #12666d;
}
#encabezado >h1{
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

#barraNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: #6ac5cb;
}

#contenedor{
    text-align: center;
    background-color: white;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 1.5em;
}
#piePagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #45444e;
}
#piePagina > p{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    
}
#contenedorContacto{
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    width: 500px;
    background-color: #17a590;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 2.4em;
}
.Formulario{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
.Formulario>label{
    margin-right: 1em;
}
.Formulario>input{
    height: 2.5em;
    width: 100%;
}
.FormularioBotones>button{
    font-size: 20px;
    background-color: #126d52;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: 1em;
}
.FormularioBotones>button:hover{
    background-color: #004939;
}


.productos > div{
    margin-bottom: 1em;
    height: auto;
}
.productos > div > img{
    width: 95%;
    height: 250px;
    margin: 0.5em;
}
.ProductoCont{
    background-color: white;
    border: 2px solid black;
}
a{
    padding: .5em;
    font-size: 1.4em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: #007994;
    color: black;
}

@media (max-width:768px){
    #barraNavegacion{
        flex-direction: column;
        justify-content: space-between;
    }
    .AcercaDe >img{
        width: 250px;
        height: 250px;
    }
    #contenedorContacto{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    textarea{
        width: 100%;
    }
    a{
        border-bottom: 2.5px solid black;
    }
}

.productos {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    margin-top: 10px;
}

@media (min-width: 576px) {
    .productos {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width: 1200px) {
    .productos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.button{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #111;
    border: 1px solid black;
    margin: 10px;
}
.button:hover{
    cursor: pointer;
    background-color: #333;
    color: white;
}